<ul class="list-unstyled w-100 py-2">
  <% @my_memberships.each do |membership| %>
    <li>
      <div class="group-list-item d-flex flex-row align-items-center">
        <div class="h-100 group-list-name d-flex align-items-center">
          <p class="icon d-inline-flex justify-content-center align-items-center"><i class="<%= membership.group_icon %>"></i></p>
          <p class="name d-inline-block"><%= link_to "#{membership.group_name}", group_path(membership.group) %></p>
        </div>
        <div class=" group-list-stats ml-auto h-100 d-flex flex-row">
          <div class="group-list-item-info first d-flex flex-column justify-content-center align-items-center">
            <p class="stat-main"><%= Membership.member_count(membership.group) %></p>
            <p>Members</p>
          </div>
          <div class="group-list-item-info second d-flex flex-column justify-content-center align-items-center">
            <p class="stat-main"><%= ActivityEntry.recent_group_activity(membership.group) %></p>
            <% if ActivityEntry.recent_group_activity(membership.group) > 0 %>
              <p class="recent">Recent Activities<i class="fas fa-bolt"></i></p>
            <% else %>
              <p>Recent Activities</p>
            <% end %>
          </div>
          <div class="group-list-item-info third d-flex flex-column justify-content-center align-items-center">
            <p class="stat-main time"><%= time_ago_in_words(membership.group_age) %></p>
            <p>old</p>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>