<div class="quick-stats-weekly-overview w-100 d-flex">
  <div class="quick-stats-weeks">
    <div>
      <p><%= (Date.today - 7).strftime('%B %e') %></p>
    </div>
    <div>
      <p><%= (Date.today - 14).strftime('%B %e') %></p>
    </div>
    <div>
      <p><%= (Date.today - 21).strftime('%B %e') %></p>
    </div>
    <div>
      <p><%= (Date.today - 28).strftime('%B %e') %></p>
    </div>
  </div>
  <div class="quick-stats-dots">
    <div>
      <p class="d-flex justify-content-start align-items-start h-100">
        <%= quick_stats_dots(@recent_activities7.count)%>
      </p>
    </div>
    <div>
      <p class="d-flex justify-content-start align-items-start h-100">
        <%= quick_stats_dots(@recent_activities14.count)%>
      </p>
    </div>
    <div>
      <p class="d-flex justify-content-start align-items-start h-100">
        <%= quick_stats_dots(@recent_activities21.count)%>
      </p>
    </div>
    <div>
      <p class="d-flex justify-content-start align-items-start h-100">
        <%= quick_stats_dots(@recent_activities28.count)%>
      </p>
    </div>
  </div>
</div>