<main class="profile-container w-100 h-100 p-3 m-0">
  <div class="w-100 profile-top-section mx-0 d-flex flex-row">
    <aside class="profile-column d-flex flex-column justify-content-start align-items-center">
      <%= gravatar_for(current_user) %>
      <h1 class="mt-3"><%= full_name %></h1>
      <p class="mt-1">Joined on <%= current_user.created_at.strftime('%B %e %Y') %></p>
    </aside>
    <div class="d-flex flex-column main-column">
      <ul class="float-right profile-quicklinks">
        <li class="d-inline"><%= link_to 'Recent Activities', '#' %></li>
        <li class="d-inline"><%= link_to 'My Friends', '#' %></li>
        <li class="d-inline"><%= link_to 'My Stats', '#' %></li>
      </ul>
      <div class="profile-quick-stats d-flex flex-row">
        <div class="profile-activity-counter d-flex justify-content-start align-items-center flex-column">
          <p class="mb-0"><%= @recent_activities_all.count %></p>
          <p>Activities in the last 4 weeks</p>
          <div class="quick-stats-weekly-overview w-100 d-flex">
            <div class="quick-stats-weeks">
              <div>
                <p><%= (Date.today - 7).strftime('%B %e') %></p>
              </div>
              <div>
                <p><%= (Date.today - 14).strftime('%B %e') %></p>
              </div>
              <div>
                <p><%= (Date.today - 21).strftime('%B %e') %></p>
              </div>
              <div>
                <p><%= (Date.today - 28).strftime('%B %e') %></p>
              </div>
            </div>
            <div class="quick-stats-dots">
              <div>
                <p class="d-flex justify-content-start align-items-start h-100">
                  <%= quick_stats_dots(@recent_activities_7.count)%>
                </p>
              </div>
              <div>
                <p class="d-flex justify-content-start align-items-start h-100">
                  <%= quick_stats_dots(@recent_activities_14.count)%>
                </p>
              </div>
              <div>
                <p class="d-flex justify-content-start align-items-start h-100">
                  <%= quick_stats_dots(@recent_activities_21.count)%>
                </p>
              </div>
              <div>
                <p class="d-flex justify-content-start align-items-start h-100">
                  <%= quick_stats_dots(@recent_activities_28.count)%>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="profile-widget h-100 ml-3">
          <div>
            <div class="profile-widget-activity d-flex justify-content-center align-items-center flex-column pt-3">
              <h2 class="mr-auto">Most Recent Activities</h2>
              <ul class="list-unstyled pt-4">
                <% @recent_activities_all.limit(5).each do |activity| %>
                  <li>
                    <div class="my-group-name">
                      <div class="profile-widget-group-name">
                        <p class="d-inline-block recent-activity-name"><%= activity.name %></p>
                        <p class="d-inline-block"> • <%= time_ago_in_words(activity.created_at) %> ago</p>
                      </div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-bottom-section w-100 mx-0 d-flex flex-row">
    <div class="profile-activities-list h-100 w-50 p-4">
      <h2>All Activities</h2>
      <ul class="list-unstyled all-activities-list pb-3">
        <% @all_activities.each do |activity| %>
          <li>
            <div class='h-100'>
              <p class='d-inline-block'><%= activity.name %> • </p>
              <p class='d-inline-block'><%= activity.created_at.strftime('%B %e') %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="profile-group-list h-100 w-50 p-4">
    <h2>My Groups</h2>
      <ul class="list-unstyled my-groups-list">
        <% @my_groups.each do |m| %>
          <li>
            <div class="my-group-name">
              <div class="d-inline-block profile-widget-icon"><i class="<%= m.icon %>"></i></div>
              <div class="d-inline-block profile-widget-group-name"><p><%= m.name %></p></div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</main>