<main class="profile-container w-100 h-100 p-3 m-0">
  <div class="w-100 profile-top-section mx-0 d-flex flex-row">
    <aside class="profile-column d-flex flex-column justify-content-center align-items-center">
      <%= gravatar_for(current_user) %>
      <h1><%= full_name %></h1>
    </aside>
    <div class="d-flex flex-column main-column">
      <ul class="float-right profile-quicklinks">
        <li class="d-inline"><%= link_to 'Recent Activities', '#' %></li>
        <li class="d-inline"><%= link_to 'My Friends', '#' %></li>
        <li class="d-inline"><%= link_to 'My Stats', '#' %></li>
      </ul>
      <div class="profile-quick-stats d-flex flex-row">
        <div class="profile-activity-counter d-flex justify-content-center align-items-center flex-column">
          <p class="mb-0"><%= current_user.activities.count %></p>
          <p>Activities in the last 4 weeks</p>
        </div>
        <div class="profile-widget ml-3">
          <div>
            <div class="profile-widget-activity d-flex justify-content-start align-items-center">
              <ul class="list-unstyled pt-4">
                <% @my_groups.each do |m| %>
                  <li>
                    <div class="my-group-name">
                      <div class="d-inline-block profile-widget-icon"><i class="<%= m.icon %>"></i></div>
                      <div class="d-inline-block profile-widget-group-name"><p><%= m.name %></p></div>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="profile-widget-stat">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="profile-bottom-section w-100 mx-0 d-flex flex-row">
    <div class="profile-activities-list h-100 w-50">
    </div>
    <div class="profile-group-list h-100 w-50">
    </div>
  </div>
</main>