<div class="my-activities-list p-2">
  <ul class="list-unstyled p-0 m-0 w-100">
    <% @my_activities.each do |activity| %>
      <li>
        <div class="activity-list-item d-flex flex-row align-items-center w-100">
          <div class="d-flex align-items-center icon-title">
            <p class="mr-2 mb-0 d-flex justify-content-center align-items-center"><i class="<%= activity.group_icon %>"></i></p>
            <h2 class="activity-name d-inline-block"><%= link_to "#{activity.name}", activity_path(activity), class: 'w-auto' %></h2>
          </div>
          <div class="activity-list-delete d-flex align-items-center justify-content-center mr-3 ml-auto">
            <%= button_to 'Delete', { :controller => 'activities', action: 'destroy', :id => activity.id }, :method => :delete, data: { confirm: 'Are you sure? This action cannot be undone.' }, class: 'delete-button' %>
          </div>
          <div class="my-activities-stats">
            <p class="d-inline-block mr-1"><%= activity.calories %> cals • </p>
            <p class="d-inline-block mr-1"><%= time_converter(activity.amount) %> • </p>
            <p class="d-inline-block mr-1"><%= time_ago_in_words(activity.created_at) %> ago.</p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>