<nav class="navbar flex-column pr-0 position-fixed">
  <%= link_to root_path, class: 'navbar-header d-flex flex-column justify-content-center align-items-center' do %>
    <%= gravatar_for(current_user) %>
    <h3><%= full_name %></h3>
  <% end %>
  <div class="navbar-links mb-auto w-100 pl-2" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <i class="fas fa-cog"></i><%= link_to 'Account settings', users_show_path(current_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <i class="fas fa-plus"></i><%= link_to 'New Activity', activities_new_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <i class="fas fa-running"></i><%= link_to 'My Activities', activities_show_path(current_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <i class="fas fa-users"></i><%= link_to 'My Groups', memberships_show_path(current_user), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <i class="fas fa-sign-out-alt"></i><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>