<nav class="navbar flex-column pr-0">
  <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  <div class="navbar-links mb-auto w-100 pl-2" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <i class="fas fa-cog"></i><%= link_to 'Account settings', '#', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <i class="fas fa-plus"></i><%= link_to 'New Activity', '#', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <i class="fas fa-running"></i><%= link_to 'My Activities', '#', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <i class="fas fa-users"></i><%= link_to 'My Groups', '#', class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <i class="fas fa-sign-out-alt"></i><%= link_to 'Sign Out', '#', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>