<div class="navbar">
  <%= link_to root_path %>
  <div class="menu">
    <div class="menu-item">
      <%= link_to 'My Account', '#' %>
    </div>
    <div class="menu-item">
      <%= link_to 'New Activity', '#' %>
    </div>
    <div class="menu-item">
      <%= link_to 'My Activities', '#' %>
    </div>
    <div class="menu-item">
      <%= link_to 'My Groups', '#' %>
    </div>
    <div class="menu-item">
      <%= link_to 'Sign Out', '#' %>
    </div>
  </div>
</div>