<!DOCTYPE html>
<html>
  <head>
    <title>RoRCapstoneActivityTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container d-flex align-items-center justify-content-center">
      <%= render 'layouts/flash_messages' %>
      <% if current_user.nil? %>
        <%= yield %>
      <% else %>
        <%= render 'layouts/navbar' %>
        <div class="container-fluid main-card d-flex flex-row justify-content-start align-items-start signed-in-container ml-auto mr-0 px-0">
          <%= yield %>
        </div>
      <% end %>
    </div>
  </body>
</html>
