<!DOCTYPE html>
<html>
  <head>
    <title>RoRCapstoneActivityTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container d-flex align-items-center justify-content-center">
      <% if !current_user.nil? %>
        <%= render 'layouts/navbar' %>
      <% end %>
      <% if notice.present? %>
        <div class="notice">
          <p> <%= notice %> </p>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert">
          <p> <%= alert %> </p>
        </div>
      <% end %>
      <% if current_user.nil? %>
        <%= yield %>
      <% else %>
        <div class="container-fluid d-flex flex-row justify-content-start align-items-start user-profile ml-auto mr-0 py-4 px-2">
          <%= yield %>
        </div>
      <% end %>
    </div>
  </body>
</html>
