<!DOCTYPE html>
<html>
  <head>
    <title>RoRCapstoneActivityTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-container flex-row d-flex align-items-center justify-content-center">
    <div class="navbar">
      <%= link_to root_path %>
      <div class="menu">
        <div class="menu-item">
          <%= link_to 'My Account', '#' %>
        </div>
        <div class="menu-item">
          <%= link_to 'New Activity', '#' %>
        </div>
        <div class="menu-item">
          <%= link_to 'My Activities', '#' %>
        </div>
        <div class="menu-item">
          <%= link_to 'My Groups', '#' %>
        </div>
        <div class="menu-item">
          <%= link_to 'Sign Out', '#' %>
        </div>
      </div>
    </div>
      <% if notice.present? %>
        <div class="notice">
          <p> <%= notice %> </p>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="alert">
          <p> <%= alert %> </p>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
